.unity-button__image {
    margin-right: 10px;
    margin-left: 10px;
}

.unity-button.unity-text-element {
    color: rgb(255, 255, 255);
}

.link-cursor {
    cursor: link;
}

#FrameworkIcon {
    background-image: url('project://database/Assets/CarlosLab/UtilityIntelligence/Unity/Editor/UIBuilder/Icons/carloslab-icon-dark.png?fileID=2800000&guid=fd543af61f7728f46ab4ca18a4a611b5&type=3#carloslab-icon-dark');
}
